<!DOCTYPE html>
<html>
	<head>
		<title>Pittsburgh Humane Reports</title>

		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection">
		<!-- Import custom application styles -->
		<link type="text/css" rel="stylesheet" href="css/styles.css" media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="css/ho-styles.css" media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
		<header>
			<nav class="indigo darken-2"> 
				<div class="container">
					<div class="nav-wrapper grey lighten-2">
						<a class="center brand-logo">My Account</a>
				        <a class="button-collapse" href="#" data-activates='nav-mobile'><i class="mdi-navigation-menu"></i></a>
					</div>
					<ul id="slide-out" class="side-nav">
						<center><li><a class="subheader">Menu</a></li></center>
						<li><a class="waves-effect" href="/dashboard">Dashboard</a></li>
						<li><a class="waves-effect" href="/archive">Archived Cases</a></li>
						<li><a class="waves-effect active" href="/account">My Account</a></li>
					</ul>
  					<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
				</div>
			</nav>
		</header>

		<main>
			<div class="container">
				<div class="row margin-top-20">
					<h5 class="margin-left-10">Jane Doe</h5>
				</div>

				<div class="row margin-top-10">
					<div class="input-field col s12">
						<div class="bold-label">Email address</div>
						<input placeholder="" id="email" type="text">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<div class="bold-label">Cell phone number</div>
						<input placeholder="" id="phone" type="text">
					</div>
				</div>

				<div class="row margin-top-20">
					<div class="margin-left-10">
						<b>Email case notifications</b>
						<span class="switch right">
							<label>
								Off
								<input type="checkbox">
								<span class="lever"></span>
								On
							</label>
						</span>
					</div>
				</div>

				<div class="row margin-top-20">
					<div class="margin-left-10">
						<b>Text case notifications</b>
						<span class="switch right">
							<label>
								Off
								<input checked type="checkbox">
								<span class="lever"></span>
								On
							</label>
						</span>
					</div>
				</div>

				<div class="row margin-top-40 center">
					<button class="wide-button indigo btn waves-effect waves-light margin-left-10" name="action" id="start-trip-button">Save
					</button>
				</div>

			</div>
		</main>

		<br>
		<br>
		<br>

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		<!-- Import custom application javascript -->
		<script type="text/javascript" src="js/account.js"></script>
	</body>
</html>