<!DOCTYPE html>
<html>
	<head>
		<title>Pittsburgh Humane Reports</title>

		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection">
		<!-- Import custom application styles -->
		<link type="text/css" rel="stylesheet" href="css/styles.css" media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="css/ho-styles.css" media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
		<header>
			<nav class="indigo darken-2"> 
				<div class="container">
					<div class="nav-wrapper grey lighten-2">
						<a class="center brand-logo">Archived Cases</a>
				        <a class="button-collapse" href="#" data-activates='nav-mobile'><i class="mdi-navigation-menu"></i></a>
					</div>
					<ul id="slide-out" class="side-nav">
						<center><li><a class="subheader">Menu</a></li></center>
						<li><a class="waves-effect" href="/dashboard">Dashboard</a></li>
						<li><a class="waves-effect" href="/archive">Archived Cases</a></li>
						<li><a class="waves-effect active" href="/account">My Account</a></li>
					</ul>
  					<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
				</div>
			</nav>
		</header>

		<main>
			<div class="container">
				<% if (archivedReports) { %>
					<div class="row margin-top-20">
						<div class="input-field col s12">
							<i class="material-icons prefix">search</i>
							<input id="search-tool" type="text" class="validate">
							<label for="search-tool">Search in previous cases</label>
						</div>
					</div>

					<div class="row margin-top-5 right" style="margin-bottom: 0px;">
						<div class="col s12" id="sort-by">
							<select id="sort-by-select">
								<option value="" disabled selected>Sort by</option>
								<option value="1">Date</option>
								<option value="2">Urgency</option>
							</select>
						</div>
					</div>
				<% } %>

				<div class="row">
					<div id="archive" class="col s12">
						<% if (archivedReports) { %>
							<ul class="collection">
								<% for (var i=0; i < archivedReports.length; i++) { %>
									<li class="collection-item avatar">
										<a href="javascript:addToItinerary('<%-archivedReports[i]._id%>');"><i class="material-icons circle btn-floating waves-light waves-effect">add</i></a>
										<a href="/report/<%-archivedReports[i]._id%>">
											<span class="title"><b><u><%= archivedReports[i].address.split(',')[0] %></u></b></span>
											<p>
												<% if (archivedReports[i].incidentTypes.includes("1")) { %>
													Animal with inadequate shelter <br>
												<% } %>
												<% if (archivedReports[i].incidentTypes.includes("2")) { %>
													Animal living in improper conditions <br>
												<% } %>
												<% if (archivedReports[i].incidentTypes.includes("3")) { %>
													Animal tethered outside in improper conditions <br>
												<% } %>
												<% if (archivedReports[i].incidentTypes.includes("4")) { %>
													Physical violence against animal <br>
												<% } %>
												<% if (archivedReports[i].incidentTypes.includes("5")) { %>
													Neglect of animal's illness or injuries <br>
												<% } %>

												Received on <%= archivedReports[i].received %>
											</p>
										</a>

										<% if (archivedReports[i].incidentTypes.includes("4") || archivedReports[i].incidentTypes.includes("5") || archivedReports[i].animalConditions.length > 0) { %>
											<div class="secondary-content"><span class="new badge red" data-badge-caption="">High</span></div>
										<% } %>
									</li>
								<% } %>
							</ul>
						<% } else { %>
							<br>
							<container>
								<row>
									<div class="row">
										<div class="col s12">
											There are no archived cases.
										</div>
									</div>
								</row>
							</container>
							<br>
						<% } %>
					</div>
					
			</div>
		</main>

		<br>
		<br>
		<br>

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		<!-- Import custom application javascript -->
		<script type="text/javascript" src="js/archive.js"></script>
	</body>
</html>