<!DOCTYPE html>
<html>
	<head>
		<title>Humane Animal Rescue - Report Animal Neglect and Cruelty in Pittsburgh</title>

		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection">

		<!-- Import custom application styles -->
		<link type="text/css" rel="stylesheet" href="css/styles.css" media="screen,projection"/>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
		<header>
			<nav class="indigo darken-2"> 
				<div class="container">
					<div class="nav-wrapper grey lighten-2">
						<a class="brand-logo" href="/"><img src="assets/white-logo-stacked.png" id="har-logo"><span class="hide-on-med-and-down">Report Animal Neglect and Cruelty in Pittsburgh</span></a>
						<ul class="right side-nav" id="nav-mobile">
							<li class="hide-on-small-only"><a href="parallax.html"><i class="mdi-navigation-arrow-back"></i></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<main>
			<div class="container">
				<br>
				<h5>Your report has been submitted.</h5>
				<p>Our humane officer will review your report and will respond in the most appropriate manner. Thank you again for taking action and helping our animal companions.</p>
				<p>If you signed up for e-mail updates, you will receiving a confirmation as soon as your case has been investigated by the humane officer. Please keep in mind that details of the case are confidential and we are not legally allowed to share any further information about the case.</p>

				<br>
				
				<a href="http://www.animalrescue.org/"><button class="indigo btn waves-effect waves-light" name="action">Return to Humane Animal Rescue website
				</button></a>
			</div>
		</main>

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	</body>
</html>