<!DOCTYPE html>
<html>
	<head>
		<title>Pittsburgh Humane Reports</title>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection">
		<!-- Import custom application styles -->
		<link type="text/css" rel="stylesheet" href="css/styles.css" media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="css/ho-styles.css" media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
		<header>
			<nav class="indigo darken-2"> 
				<div class="container">
					<div class="nav-wrapper grey lighten-2">
						<a class="center brand-logo">Pittsburgh Humane Reports</a>
				        <a class="button-collapse" href="#" data-activates='nav-mobile'><i class="mdi-navigation-menu"></i></a>
					</div>
					<ul id="slide-out" class="side-nav">
						<center><li><a class="subheader">Menu</a></li></center>
						<li><a class="waves-effect" href="/dashboard">Dashboard</a></li>
						<li><a class="waves-effect" href="/archive">Archived Cases</a></li>
						<li><a class="waves-effect active" href="/account">My Account</a></li>
					</ul>
  					<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
				</div>
			</nav>
		</header>


		<main>
			<div class="container">
				<div class="row margin-top-20 center">
					<button class="indigo btn waves-effect waves-light margin-left-10" name="action" id="start-trip-button">Start trip
					    <i class="material-icons right">navigation</i>
					</button>
				</div>

				<!-- Google Maps -->
				<div class="row">
					<div id="ho-map" class="margin-top-20"></div>
					<div id="infowindow-content">
						<img src="" width="16" height="16" id="place-icon">
						<span id="place-name"  class="title"></span><br>
						<span id="place-address"></span>
					</div>
				</div>

				<%= reports.length %>

				<div class="row margin-top-30">
					<div class="col s12">
						<ul class="tabs z-depth-1 indigo lighten-1">
							<li class="tab col s3"><a class="active">Itinerary</a></li>
						</ul>
						<div class="col s12 z-depth-1">
							<ul class="collection sortable">
								<li class="collection-item avatar">
									<i class="material-icons circle">clear</i>
									<span class="title"><b>456 Beeler St</b></span>
									<p>Animal Left Outside<br>
									Today
									</p>
									<a href="#!" class="secondary-content"><span class="new badge red" data-badge-caption="">High</span><i class="material-icons">more_vert</i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row margin-top-30">
					<div class="col s12">
						<ul class="tabs z-depth-1 indigo lighten-1">
							<li class="tab col s3"><a class="active" href="#new">New</a></li>
							<li class="tab col s3"><a href="#in-progress">In Progress</a></li>
						</ul>
					</div>

					<div id="new" class="col s12 margin-top-10">
						<ul class="collection sortable">

							<li class="collection-item avatar">
								<i class="material-icons circle">clear</i>
								<span class="title"><b>456 Beeler St</b></span>
								<p>Animal Left Outside<br>
								Today
								</p>
								<a href="#!" class="secondary-content"><span class="new badge red" data-badge-caption="">High</span><i class="material-icons">more_vert</i></a>
							</li>
							<li class="collection-item avatar">
								<i class="material-icons circle">clear</i>
								<span class="title"><b>99 Harris St</b></span>
								<p>Hoarding Case<br>
								1 Day Ago
								</p>
								<a href="#!" class="secondary-content"><span class="new badge red" data-badge-caption="">High</span><i class="material-icons">more_vert</i></a>
							</li>
							<li class="collection-item avatar">
								<i class="material-icons circle">clear</i>
								<span class="title"><b>74 Ellsworth Ave</b></span>
								<p>Neglect/Abandonment<br>
								2 Days Ago
								</p>
								<a href="#!" class="secondary-content"><i class="material-icons">more_vert</i></a>
							</li>
							<li class="collection-item avatar">
								<i class="material-icons circle">clear</i>
								<span class="title"><b>342 Wilkins Ave</b></span>
								<p>Animal Noise<br>
								5 Days Ago
								</p>
								<a href="#!" class="secondary-content"><i class="material-icons">more_vert</i></a>
							</li>
						</ul>
					</div>
					
					<div id="in-progress" class="col s12 margin-top-10">
						<ul class="collection sortable">
							<li class="collection-item avatar">
								<i class="material-icons circle">add</i>
								<span class="title"><b>101 Harris St</b></span>
								<p>Animal Noise<br>
								4 Days Ago
								</p>
								<a href="#!" class="secondary-content"><i class="material-icons">more_vert</i></a>
							</li>
							<li class="collection-item avatar">
								<i class="material-icons circle">add</i>
								<span class="title"><b>15 Roselawn Ter</b></span>
								<p>Animal Noise<br>
								4 Days Ago
								</p>
								<a href="#!" class="secondary-content"><i class="material-icons">more_vert</i></a>
							</li>
						</ul>
					</div>
				</div>


			</div>
		</main>

		<br>
		<br>
		<br>

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		<!-- Google Maps -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn6V9t-lR5_9IzWjc5FGhBWj67bQQqpkY&callback=initMap"
        async defer></script>
		<!-- Import custom application javascript -->
		<script type="text/javascript" src="js/dashboard.js"></script>
	</body>
</html>