<!DOCTYPE html>
<html>
  <head>
    <title>Report Animal Neglect and Cruelty</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection">
    <!-- Import custom application styles -->
    <link type="text/css" rel="stylesheet" href="css/styles.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <header>
      <nav class="indigo darken-2"> 
        <div class="container">
          <div class="nav-wrapper grey lighten-2">
            <h7 class="brand-logo">Report Animal Neglect and Cruelty</h7>
              <ul class="right side-nav" id="nav-mobile">
                  <li class="hide-on-small-only"><a href="parallax.html"><i class="mdi-navigation-arrow-back"></i></a></li>
                </ul>
                <!--<a class="button-collapse" href="#" data-activates='nav-mobile'><i class="mdi-navigation-menu"></i></a>-->
          </div>
        </div>
      </nav>
    </header>

    <main style="background-color: #F3F3F4">
      <br>

      <div class="container">
        <h5>How to report animal abuse or neglect.</h5>
        <p> Neglect, hoarding, and cruelty, all the way to dog fighting operations, are sadly common cases in Pittsburgh.The reality of these cases touches the lives of citizens, pet-owning and non-pet-owning alike. At the Animal Rescue League, our Humane Officer provides investigative and law enforcement services to Allegheny County.</p>

        <p>
        <b>To report a case to our Humane Officer, follow these directions:</b>
        </p>

        <div class="row">

        <!-- Allegheny -->

          <div class="col s12 m4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="assets/allegheny.png">
              </div>
              <div class="card-content">
                <p style="font-size:19px" class="grey-text text-darken-4">1. Only report if you are in Allegheny County</p>
              </div>
              <!--<div class="card-reveal">
                <span class="card-title grey-text text-darken-4">1. Only report if you are in Allegheny Count<i class="material-icons right">close</i></span>
                
                <p>Our Humane Officer is only legally allowed to investigate cases that occur in Allegheny County. As such, they cannot take any reports from other counties. If you are reporting a case that occurred in a different county, use the <a href="http://pda.state.pa.us/BAHDS/HSPO/HSPOSearch.aspx">Humane Society Police Officer Registry</a> or call your local police office to find someone who has the required legal authority to respond.</p>
              </div>-->
            </div>
            </div>

<!-- Witness -->

          <div class="col s12 m4">

            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="assets/witness.png">
              </div>
              <div class="card-content">
                <p style="font-size:19px" class="grey-text text-darken-4">2. Only report if you are a firsthand witness</p>
              </div>
              <!--<div class="card-reveal">
                <span class="card-title grey-text text-darken-4">2. Only report if you are a firsthand witness <i class="material-icons right">close</i></span>
                
                <p>Hearsay and secondhand information cannot be investigated and only those with firsthand knowledge of the abuse should file a report.</p>
              </div>-->
            </div>
            </div>

<!-- Multiple Agencies -->
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="assets/agencies.png">
              </div>
              <div class="card-content">
                <p style="font-size:19px" class="grey-text text-darken-4">3. Do not send reports to multiple agencies</p>
              </div>
              <!--<div class="card-reveal">
                <span class="card-title grey-text text-darken-4">3. Do not report to multiple agencies<i class="material-icons right">close</i></span>
                
                <p>It's only necessary to send in one report. Multiple reports will overload other agencies, cause communications problems, and waste valuable time and resources.</p>
              </div>-->
            </div>
            </div>                        


        </div>

        <p>If your case is not covered by our Humane Officer's jurisdiction, call your local authorities to find the appropriate help.</p>
        <br>
      </div>

            
    </main>


      <div class="container"">
        <br>
        <br>
        <h5 style="left:40%">If you've read the information above and you are ready to proceed, use our online reporting form to report your incident to our Humane Officer.</h5>
        <br>
        <br>
        <a class="waves-effect waves-light btn-large" href="index.html" style="left:25%">Animal Cruely & Neglect Reporting Form</a>
        <br>
        <br>
      </div>
    <br>
    <br>
    <br>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn6V9t-lR5_9IzWjc5FGhBWj67bQQqpkY&libraries=places&callback=initMap"
        async defer></script>
    <!-- Import custom application javascript -->
    <script type="text/javascript" src="js/form.js"></script>
  </body>
</html>