<!DOCTYPE html>
<html>
	<head>
		<title>Pittsburgh Humane Reports</title>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection">
		<!-- Import custom application styles -->
		<link type="text/css" rel="stylesheet" href="/css/styles.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/css/ho-styles.css" media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
		<header>
            <nav class="indigo darken-2"> 
                <div class="container">
                    <div class="nav-wrapper grey lighten-2">
                        <a class="center brand-logo">Humane Reports</a>
                        <a class="button-collapse" href="#" data-activates='nav-mobile'><i class="mdi-navigation-menu"></i></a>
                    </div>
                    <ul id="slide-out" class="side-nav">
                        <center><li><a class="subheader">Menu</a></li></center>
                        <li><a class="waves-effect" href="/dashboard">Dashboard</a></li>
                        <li><a class="waves-effect" href="/archive">Archived Cases</a></li>
                        <li><a class="waves-effect active" href="/account">My Account</a></li>
                    </ul>
                    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </header>

        <br>
        <div class="container">
            <h5>Report Details</h5>
        <div class= "margin-left-50 ">

        <div id="incoming_report" >
            <div class="col s12 col s12 card-panel blue-grey lighten-5">
            <div class="col s12 margin-left-50">
                <div class="row">
                    <div class="col s12 m4 l3">
                        <p class="bold-label">Urgency Level</p>
                    </div>
                    <div class="col s12 m4 l3">
                        <p>Urgent</p>
                    </div>
                    <div class="col s12 m4 l3">
                      <div class="chip">Visible wounds</div>
                    </div>
                </div>

                <div class="row"> 
                    <div class="col s12 m4 l3">      
                         <p class="bold-label">Address</p>
                    </div>
                    <div class="col s12 m4 l9">
                        <p>543 Wilkins Ave</p>
                    </div>
                </div>
                </div>
                <div class="row"> 
                    <!--Address-->
                    <div class="col s12 m4 l3">
                        <p class="bold-label">Reporter Name</p>
                    </div>
                    <div class="col s12 m4 l9">
                        <p>John Doe</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 l3">
                        <p class="bold-label">Reporter Contact</p>
                    </div>
                    <div class="margin-top-20 col s12 m4 l3">
                        <a ref="tel:1-543-594-3211">1-543-594-3211</a>
                    </div>
                    <div class="margin-top-20 col s12 m4 l3">
                        <a ref="jdoe@gmail.com">jdoe@gmail.com</a>
                    </div>
                </div>
                <div class="row divider"></div>
                <div class="row"> 
                    <div class="col s12 m4 l3">
                        <p class="bold-label">Animal Type</p>
                    </div>
                    <div class="col s12 m4 l2">
                        <p> Dog </p>
                    </div>
                </div>
                <div class="row"> 
                <div class="col s12 m4 l3">
                    <p class="bold-label">Incident Type</p>
                </div>
                <div class="col s12 m4 l3">
                      <div class="chip">Left outside</div>
                </div>
                <div class="col s12 m4 l3">
                    <div class="chip">Inadequate shelter </div>
                </div>
                <div class="col s12 m4 l3">
                    <div class="chip">Extreme weather</div>
                </div>
                </div>

                <div class="row"> 
                    <div class="col s12 m4 l3">
                        <p class="bold-label">Date</p>
                    </div>
                    <div class="col s9" class="margin-top-30">
                        <div class="input-field">Ongoing</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 l3">
                        <p class="bold-label">Animal Description</p>
                    </div>
                    <div class="col 9">
                        <p>I have been seeing my neighbor’s dog chained outside everyday and it looks really sad and hungry so I am worried about it. </p>
                    </div>
                </div>
            <div class="row">
                    <div class="col s12 m4 l3">
                        <p class="bold-label">Additional Details</p>
                    </div>
                    <div class="col 9">
                        <p>I have been seeing my neighbor’s dog chained outside everyday and it looks really sad and hungry so I am worried about it. </p>
                    </div>
                </div>
            </div>

        <br>
        <br>

        <h5>Report Notes</h5>
        <div id="notes" class="col s12 margin-top-15">
            <div class="row card-panel blue-grey lighten-5">
                <div class="col s12">
                    <h5> Owner Information</h5>

                    <div class="row">
                            <div class="input-field col s12">
                                <div class="bold-label">Owner Name</div>
                                <input placeholder="" id="owner_name" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="bold-label">Owner Number </div>
                                <input placeholder="" id="owner_number" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="bold-label">Owner Email</div>
                                <input placeholder="" id="owner_email" type="text">
                            </div>
                        </div>
                </div>
            </div>
                    
                <div class="row margin-top-30">
                    <div class="col s6 center">
                        <div class="bold-label">Add Note</div>
                        <a href="javascript:addNote();" class="btn-floating btn-large waves-effect waves-light indigo"><i class="material-icons right">note_add</i></a>
                    </div>
                    <div class="col s6 center">
                        <div class="bold-label">Add Animal</div>
                        <a href="javascript:addAnimal();" class="btn-floating btn-large waves-effect waves-light indigo"><i class="material-icons right">add_circle_outline</i></a>
                    </div>
                </div>

                <div id="notes">
                </div>

                <div id="animal-details">
                </div>
                
            </div>
        </div>

        <div class="row center margin-top-30">
            <a class="indigo btn waves-effect waves-light" type="submit" name="action" href="javascript:addToItinerary('<%-currentReport._id%>');">Add Case to Itinerary
                <i class="material-icons right">add</i>
            </a>
        </div>
        <div class="row margin-top-20 center">
            <button class="wide-button indigo btn waves-effect waves-light margin-left-10" name="action" id="start-trip-button">Save
            </button>
        </div>

		<br>
		<br>

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="/js/jquery.ui.touch-punch.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		<!-- Import custom application javascript -->
		<script type="text/javascript" src="/js/archive.js"></script>
	</body>
</html>