.row {
	width: 90%;
}

input[type=text]:disabled{
	font-size:1.5rem;
	color:black;
	font-weight: bold;
	margin-bottom: 10px;
}

input[type=text]:disabled+label{
	color:black;
}

.right{
	float:right;
}

.card-panel{
	padding: 10px 20px;
    margin: 0;
}

#numbers .row {
	margin-bottom: 0;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-top-50 {
	margin-top: 50px;
}
.margin-left-10 {
	margin-left: 10px;
}

footer.page-footer {
	padding-top: 0px !important;
}

main a {
	text-decoration: underline;
	color: black;
}

.row {
	margin-bottom: 5px;
}

#date-label {
	width: 500%;
}


help{
	margin-left:0px;
	margin-top:10px;
	margin-bottom:10px;
	position:center;
}

span.badge {
	color: white;
	font-size: 10px;
	right: inherit;
	margin-left: 5px;
	margin-top: 3px;
	padding: 3px;
	padding-left:8px;
	padding-right: 8px;
	cursor: pointer;
	position:right;
	border-radius: 4px;
}

.hidden {
	display: none;
	background: #f5f5f5;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	width: 90%;
}

.bold-label {
	color: black;
	font-weight: bold;
}

/* Google Maps styles */
#map {
	height: 85vh;
}
#description {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}
#map #infowindow-content {
	display: inline;
}

#ho-map {
	width: 100%;
	height: 300px;
}

.pac-card {
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
}

@media screen and (max-width: 780px) {
	.pac-card {
		top: 50px !important;
	}
	#pac-input {
		text-align: center;
	}
	.pac-container, .pac-item {
	    width: inherit !important;
	}
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300; 
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

#title {
	color: #fff;
	background-color: #4d90fe;
	font-size: 25px;
	font-weight: 500;
	padding: 6px 12px;
}

.tabs .tab a {
	color: white;
	text-decoration: none;
}

.tabs .tab a:hover {
    color: #d7dcff;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: white;
}

.secondary-content {
	color: black;
}

span.badge.new {
    margin-right: 10%;
}

.sortable {
	cursor: move;
}

.dropdown-content li>a, .dropdown-content li>span {
	color: black;
	text-decoration: none;
}

.right .dropdown-button {
	margin-right: 10px;
	margin-bottom: 10px;
}

.wide-button {
	width: 200px;
}

.chips .input {
  background: none;
  border: 0;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-size: 1rem;
  height: 3rem;
  line-height: 32px;
  outline: 0;
  margin: 0;
  padding: 0 !important;
  width: inherit !important;
}

.red-text {
	color: red;
	font-weight: bold;
}

#har-logo {
	margin-top: 10px;
	margin-right: 20px;
	height: 45px;
	float: left;
}

@media screen and (max-width: 600px) {
	#har-logo {
		margin-top: 5px;
		margin-right: 20px;
		height: 45px;
		float: left;
	}
}